body{
      background: linear-gradient(-45deg, #32bdfd, #60a0ff, #786ce6, #4597f5);
      background-size: 400% 400%;
      animation: gradient 30s ease infinite;
      font-family: Arial;
}
  
@keyframes gradient {
      0% {
            background-position: 0% 50%;
      }
      50% {
            background-position: 100% 50%;
      }
      100% {
            background-position: 0% 50%;
      }
}

.screen{
      position: absolute;
      margin: 0;
      top: 45%;
      left: 50%;
      width: 75%;
      text-align: center;
      transform: translate(-50%, -50%);
}

.fullname{
      top: 50%;
      font-size: 100px;
      color: #ffffff;
      font-weight: bold;
      text-align: center;
}

.aboutme{
      margin-top: -80px;
      font-size: 25px;
      font-family: 'Arial';
      color: #ffffff;
      text-align: center;
      font-weight: bold;
}

.social-links{
    margin-top: 0px;
    text-align: center;
}

.social-links i{
      padding: 25px;
      display: inline-block;
      font-size: 50px;
      position: relative;
}

i::before{
      content: none;
}

a:link, a:visited, a:hover{
      text-decoration: none;
      color: #ffffff;
}

.projectstab{
      background-color: transparent;
      width: 200px;
      height: 50px;
      font-size: 20px;
      color: #ffffff;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      float: right;
      margin-top: 20px;
      margin-right: 20px;
      position: relative;
}